// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.step-2, .step-3, .step-4, .step-5, .step-6, .step-7, .step-8{
  display: none;
}
//LOGIN SECTION START
body {

    cursor:default;
}
.login-block{
    background: #3798F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D1F0FE, #3798F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D1F0FE, #3798F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    padding : 50px 0;
}
#logo {padding:20px 0;}
#logo img{max-width:150px;}
#logo a:hover {opacity:0.555;}
.login-block-row {background: #fff;border-radius: 10px; box-shadow: 15px 20px 0px rgba(0,0,0,0.1);}
.form-check2 {display: table;   margin: 0 auto;}
.form-check2 a{display:inline-block;padding:0 5px;color:#222;}
.banner-sec{}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #222;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#ddd; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;display:none;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
.btn-login:hover {background:#BB5353;color:#fff;}
//LOGIN SECTION END
