@import "http://fonts.fontstorage.com/import/ptsans.css";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
body {
	cursor:default;
	font-family:'PT Sans',sans-serif;
}
.container_color {
	background: #3798F7;
    background: -webkit-linear-gradient(to bottom, #D1F0FE, #3798F7);
    background: linear-gradient(to bottom, #D1F0FE, #3798F7);
	margin-bottom:50px;
}
.menu_top {
	/*background: #fff; */
}
.navbar-light .navbar-nav .nav-link {
	color:#222;
}
.card_main {
	padding-top:30px;
}
.card_main_div {
	background: #FFFFFF;
    box-shadow: 0 30px 24px -12px rgba(33, 33, 33, 0.2), 0 5px 25px -4px rgba(33, 33, 33, 0.5);
    border-radius: 3px;
	position:relative;
	top:40px;
	display:table;
	margin:0 auto;
	max-width:550px;
}
.card_main_div_img img{
	width:100%;
	padding:5px;
}
.info_comp {
	background:#FEFEFE;
	padding-top:50px;
	padding-bottom:50px;
}
.info_comp_div {
	
}
.info_comp_div_left {
	
}
	.info_comp_div_left h2{
		font-weight:bold;
	}	
.socials {
	
}
	.socials img{
		width:30px;
	}
	.socials a{
		padding:2px;
	}
.form_order_comp {    

}

.form-signin {
  max-width: 100%;
  padding: 30px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  border-radius:4px;
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.photo_comp {
	padding:40px 0;
	background:#fff;
}
.photo_comp h1 {
	font-weight:bold;
}
.photo_comp p {
	padding:0;
	color:#444;
}
.photo_comp .container {
	margin-bottom:40px;
}
.photo_comp_row {
	margin-top:10px;
}
.photo_comp_item {
	padding:0;
}
.photo_comp_item img {
	width:100%;
	padding-right: 10px;
}
















































































