/* Remove dark-nav class from nav tag to see the light version  */
@import "http://fonts.fontstorage.com/import/ptsans.css";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
body {
	cursor:default;
	font-family:'PT Sans',sans-serif;
}
.box span{
    font-size:15px;
}
.box{
    padding:50px 0px 0;
}

.box .box-part{
    background:#f9f9f9;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.box .text{
    margin:20px 0px;
}

.box .fa{
     color:#4183D7;
}
.btn-outline-primary {
	margin:0 5px;
}
.container {
	padding-bottom:30px;
}
.funkyradio {
	margin-top:20px;
}
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  font-size: 14px;
  padding-right: 5px;
  line-height: 2.5em;
  text-indent: 3.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.lead {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #06131a;
    margin-bottom: 20px;
}


.feature-left {
    margin-bottom: 40px;
}

.feature-left .feature-icon {
    font-size: 50px;
    color: #007BFF;
    display: inline-block;
    float: left;
    padding-right: 30px;
    padding-top: 0px;
}

.feature-left .feature-content {
    font-size: 20px;
}
.feature-left .feature-content p{
    font-size: 16px;
}

.feature-left:last-child {}
textarea.form-control {
    height: 90px;
}

.required {}

.form-group {
    margin-bottom: 5px;
}

select.form-control:not([size]):not([multiple]) {
    height: 56px;
    color: #50595e;
}

.hero-section .form-control {
    border: 1px solid #8c897d;
    height: 58px;
}

.form-control {
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 56px;
    padding: 14px 18px;
    line-height: 1.42857143;
    border: 1px solid #d2d8db;
    background-color: #fff;
    text-transform: capitalize;
    letter-spacing: 0px;
    margin-bottom: 14px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 1);
    -webkit-appearance: none;
}

.form-control:focus {
    color: #06131a !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(234, 231, 222);
    border-color: #06131a;
}

input::-webkit-input-placeholder {
    color: #50595e !important;
}

textarea::-webkit-input-placeholder {
    color: #50595e !important;
}

.input-group-addon {
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 0px;
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 12px;
}

.focus {
    border: 1px solid #d2d8db;
}

.focus:focus {
    border: 1px solid #06131a;
}
.input-group-addon i {
    color: #63480f;
}

.btn-select {
    font-size: 14px;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.service-form {
    background-color: #fafbfb;
    border: 1px solid #e4e8ea;
    padding: 20px;
}
.service-form h4 {
	padding-bottom:10px;
}
.service-form-group {
    position: relative;
}

.form-icon {
    position: absolute;
    right: 14px;
    bottom: 15px;
    font-size: 16px;
}
.feature-description {
	margin-top:20px;
}
.box-prem .box-part-bottom img {
    max-width: 300px;
    display: table;
    margin: 0 auto;
}
.box-prem .box-part h3 {
    padding-bottom: 15px;
}
.box-part {
    padding-top: 50px;
}
.box-prem .row-prem {
    margin: 50px 0;
}
.section-title h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 0 auto 0;
  padding: 0;
  width: 100%;
  min-width: 300px;
}

.footer-area {
  background-color: #04091e;color:#fff;padding:20px 0; }

.footer-social a {
  padding-right: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .footer-social a:hover i {
    color: #46dbb7; }
.footer-social i {
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
@media (max-width: 991.98px) {
  .footer-social {
    text-align: left; } }

.single-footer-widget input {
  border: none;
  width: 80% !important;
  font-weight: 300;
  background: #14192c;
  color: #ffffff !important;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 18px; }
  .single-footer-widget input:focus {
    background-color: #14192c;
    box-shadow: none; }
.single-footer-widget .info {
  position: absolute;
  margin-top: 10%;
  color: #fff;
  font-size: 12px; }
.single-footer-widget .click-btn {
  background: #46dbb7;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 12px;
  border: 0; }
.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #14192c !important;
  color: #999999; }
.single-footer-widget ::selection {
  background-color: #14192c !important;
  color: #999999; }
.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999999;
  font-weight: 300; }
.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
  font-weight: 300; }
.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999;
  font-weight: 300; }
@media (max-width: 991.98px) {
  .single-footer-widget {
    margin-bottom: 30px; }
    .single-footer-widget:last-child {
      margin-bottom: 0; } }

@media (max-width: 800px) {
  .social-widget {
    margin-top: 30px; } }
.footer-text {
  padding-top: 20px;
  margin-bottom: 0; }
  .footer-text a,
  .footer-text i {
    color: #46dbb7; }
    .footer-text a:hover,
    .footer-text i:hover {
      color: #007AFF; }



/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.space-medium{padding-top:80px; padding-bottom:80px;}
/* color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);