/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
@import "http://fonts.fontstorage.com/import/ptsans.css";
::-moz-selection {
  /* Code for Firefox */
  background-color: #007AFF;
  color: #fff; }

::selection {
  background-color: #007AFF;
  color: #fff; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300; }

body {
  color: #999;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625em;
  position: relative; 
  cursor:default;}

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0; }

.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

/**
 *  Typography
 *
 **/
.btn i {
  font-size: 1em;
  line-height: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", sans-serif;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px;
  color: #000000; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 


.mr-50 {
  margin-right: 50px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.text-white {
  color: #fff; }

.text-center {
  text-align: center; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.relative {
  position: relative; }
.pad-bot30 {
	padding-bottom:30px;
}
@media (max-width: 991px) {
	.header-left h1 {
		font-size: 22px!important;
		font-weight: normal!important;
	}
	p {
		font-weight:normal!important;
	}
}
.section-gap {
  padding: 50px 0; }
  @media (max-width: 991px) {
    .section-gap {
      padding: 20px 0; } }

.section-gap-top {
  padding-top: 150px; }
  @media (max-width: 991px) {
    .section-gap-top {
      padding-top: 60px; } }

.section-gap-bottom {
  padding-bottom: 150px; }
  @media (max-width: 991px) {
    .section-gap-bottom {
      padding-bottom: 60px; } }

.section-title {
  padding-bottom: 45px;
  text-align: center; }
  @media (max-width: 991px) {
    .section-title {
      padding-bottom: 40px; } }
  .section-title h2 {
    font-size: 36px;
    margin-bottom: 20px; }
  .section-title p {
    font-size: 16px;
    margin-bottom: 0; }

.primary-btn {
  background-color: #007AFF;
  line-height: 47px;
  padding: 0 35px;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative; }
  .primary-btn:focus {
    outline: none; }
  .primary-btn:hover {
    color: #007AFF;
    background-color: transparent;
    border-color: #007AFF; }
  .primary-btn.white {
    border: 1px solid #fff;
    color: #000000;
    background: #fff; }
    .primary-btn.white:hover {
      background: #007AFF;
      color: #fff;
      border: 1px solid #007AFF; }
  .primary-btn.offwhite {
    background: #f9f9ff;
    color: #000000;}

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 0 15px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; }
  #header hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px; }
  @media (max-width: 1024px) {
    #header {
		 background: #E7F2FD;
	  transition: all 0.5s; }
	.nav-menu a{
		color:#222!important;
		text-shadow:none!important;
	} 
	#header{position:static;} 
	.single-cause .bottom .primary-btn {
		width: 100%;
		margin: 5px 0;
	}
	.collection-box {
		padding:0!important;
	}

}

#header.header-scrolled {
  background: #E7F2FD;
  transition: all 0.5s; }

@media (max-width: 673px) {
  #logo {
    margin-left: 20px; } }
.menu-has-children ul li a {
  padding: 4px 10px !important;
  text-transform: uppercase !important; 
  color:#222!important;
  text-shadow: none!important;}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px; }

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #007AFF; }

#header #logo images {
  padding: 0;
  margin: 0; }

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px; }

  #header #logo images {
    max-height: 40px; } }
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 180px;
  text-align: left; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

/* Nav Meu Container */
#nav-menu-container {
  margin: 0; }

@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }
/* Nav Meu Styling */
.nav-menu a {
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  text-shadow: 1px 3px 5px #222; }

.nav-menu > li {
  margin-left: 10px; }

.nav-menu ul {
  margin: 14px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.menu-has-children ul li a {
  padding: 4px 10px !important;
  text-transform: uppercase !important; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none; }

.nav-menu ul li:hover > a {
  color: #007AFF; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 16px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #222;
  font-weight: 900; }

@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #007AFF;}

#mobile-nav ul .menu-has-children li a {
  text-transform: none; color: #fff!important;}

#mobile-nav ul .menu-item-active {
  color: #007AFF; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }
  
.box-prem {
	padding:50px 0;
}
.box-prem .row-prem{
	margin:50px 0;
}
.box-part {
	padding-top: 50px;
}
.box-prem .box-part-bottom img{
	max-width: 300px;
    display: table;
    margin: 0 auto;
}
.box-prem .box-part h3{
	padding-bottom:15px;
}

.ask {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
	margin-bottom:30px;
}
.ask .ask-blocks {
    margin-top: 20px
}
.ask .ask-blocks .item {
    text-align: left;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 13px;
    overflow: hidden;
    border: 1px solid #04091E;
}
.ask .ask-blocks .item h4 {
    width: 100%;
    height: 50px;
    color: #222;
    font-size:17px;
    padding: 0 24px;
    padding-right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
	background: #fff;
}
.ask .ask-blocks .item h4:after {
    content: '+';
    font-size: 40px;
    position: absolute;
    right: 13px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    line-height: 34px;
    height: 32px
}
.ask .ask-blocks .item h4.active:after {
    content: '-';
    font-size: 34px;
    line-height: 26px
}
.ask .ask-blocks .item div {
    width: 100%;
    padding: 15px 24px;
    background: #fff;
    color: #1d1a1a;
    display: none
}
.ask .ask-blocks .item div.active {
    width: 100%;
    left: -2px;
    height: auto;
    z-index: 100;
    display: block
}

.ask .ask-blocks .item p {
	font-size:16px;
	color:#000;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

.home-banner-area {
  background: #fff; }
  @media (max-width: 1024px) {
    .home-banner-area {
      margin-top: 36px; } }
  .home-banner-area.banner-area .about-content {
    padding: 150px 0px;
    text-align: center;
    background: transparent;
    width: 100%;
    left: 0; }
    .home-banner-area.banner-area .about-content .box {
      background: #46dbb7;
      padding: 10px 25px; }
    .home-banner-area.banner-area .about-content a {
      color: #fff;
      font-weight: 600;
      font-size: 14px; }
    .home-banner-area.banner-area .about-content .lnr {
      margin: 0px 10px;
      font-weight: 600;
      position: relative;
      top: 2px; }
  @media (max-width: 576px) {
    .home-banner-area .header-right {
      margin-top: 0px; } }

.home-banner-area .owl-nav,
.condition-area .owl-nav,
.event-area .owl-nav {
  right: 97.35%;
  position: absolute;
  bottom: -13px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }
  @media (max-width: 1024px) {
    .home-banner-area .owl-nav,
    .condition-area .owl-nav,
    .event-area .owl-nav {
      display: none; } }
  .home-banner-area .owl-nav .owl-prev,
  .condition-area .owl-nav .owl-prev,
  .event-area .owl-nav .owl-prev {
    margin-bottom: 34px; }
  .home-banner-area .owl-nav .lnr-arrow-up,
  .home-banner-area .owl-nav .lnr-arrow-down,
  .condition-area .owl-nav .lnr-arrow-up,
  .condition-area .owl-nav .lnr-arrow-down,
  .event-area .owl-nav .lnr-arrow-up,
  .event-area .owl-nav .lnr-arrow-down {
    padding: 22px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #fff;
    color: #000000; }
    .home-banner-area .owl-nav .lnr-arrow-up:hover,
    .home-banner-area .owl-nav .lnr-arrow-down:hover,
    .condition-area .owl-nav .lnr-arrow-up:hover,
    .condition-area .owl-nav .lnr-arrow-down:hover,
    .event-area .owl-nav .lnr-arrow-up:hover,
    .event-area .owl-nav .lnr-arrow-down:hover {
      background: #007AFF;
      color: #ffffff; }

@media (max-width: 767px) {
  .fullscreen {
    height: 100% !important; } }
.header-right {
  position: relative;
  padding-right: 0px; }
  @media (max-width: 576px) {
    .header-right {
      margin-top: 30px;
      padding-right: 15px; } }
  .header-right images {
    height: 100%; }
  .header-right .form-control {
    font-size: 14px;
    padding: 0.575rem 0.75rem; }
.header-left {
  padding-left: 9%;
  padding-right: 48px; }
  @media (max-width: 1440px) {
    .header-left {
      padding-left: 11%; } }
  @media (max-width: 1300px) {
    .header-left {
      padding-left: 5%; } }
  @media (max-width: 767px) {
    .header-left {
      margin-bottom: 10px; } }
  .header-left h1 {
    line-height: 1.2; font-size: 25px; font-weight: normal; }
    @media (max-width: 991px) {
      .header-left h1 {
       font-size: 20px;
       font-weight: normal; } 
		
}

.single-cause {
  border: solid 1px #eeeeee;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single-cause .top {
    padding: 30px; }
    @media (max-width: 576px) {
      .single-cause .top {
        padding: 15px; } }
  .single-cause .thumb {
    overflow: hidden;
    margin-bottom: 30px; }
    .single-cause .thumb images {
      width: 100%; }
  .single-cause h3 {
    font-size: 19px;
    line-height: 1.43;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-cause .text {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0; }
  .single-cause .bottom {
    padding: 30px 15px; }
    @media (max-width: 576px) {
      .single-cause .bottom {
        padding: 15px; } }
    .single-cause .bottom .primary-btn {
      font-size: 13px;
      padding: 0 15px; }
      @media (max-width: 576px) {
        .single-cause .bottom .primary-btn {
          padding: 0 20px; } }
      .single-cause .bottom .primary-btn.primary-btn1 {
        background: #f9a22b; }
        .single-cause .bottom .primary-btn.primary-btn1:hover {
          background: transparent;
          color: #000000; }
      .single-cause .bottom .primary-btn.primary-btn3 {
        background: #a978e0; }
        .single-cause .bottom .primary-btn.primary-btn3:hover {
          background: transparent;
          color: #000000; }
  @media (max-width: 991px) {
    .single-cause {
      margin-bottom: 30px; } }
  .single-cause .c-images {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-cause:hover {
    box-shadow: 0px 20px 50px 0 rgba(153, 153, 153, 0.2);
    border: 1px solid transparent; }

.collection-area {
  background: #f4f4f4; }
  @media (max-width: 767px) {
    .collection-area .text {
      margin-bottom: 30px; } }
  .collection-area .text h2 {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 35px; }
    @media (max-width: 576px) {
      .collection-area .text h2 {
        font-size: 30px;
        line-height: 1.15;
        margin-bottom: 15px; } }

.collection-box {
  background: #fff;
  padding: 20px;
  min-height:330px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
border-radius:10px;  }
  .collection-box h3 {
    margin-top: 5px;
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 38px; }
    .collection-box h3.color3 {
      color: #007AFF; }
  .collection-box i {
    display: block;
    font-size: 24px;
    margin-bottom: 30px; }
  .collection-box p {
    margin-bottom: 0; }
.collection-box > p > img {
	padding-bottom:20px;
}

.footer-area {
  background-color: #04091e; }

h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600; }
  @media (max-width: 991px) {
    h6 {
      margin-bottom: 15px; } }

.footer-social a {
  padding-right: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .footer-social a:hover i {
    color: #46dbb7; }
.footer-social i {
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
@media (max-width: 991.98px) {
  .footer-social {
    text-align: left; } }

.single-footer-widget input {
  border: none;
  width: 80% !important;
  font-weight: 300;
  background: #14192c;
  color: #ffffff !important;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 18px; }
  .single-footer-widget input:focus {
    background-color: #14192c;
    box-shadow: none; }
.single-footer-widget .info {
  position: absolute;
  margin-top: 10%;
  color: #fff;
  font-size: 12px; }
.single-footer-widget .click-btn {
  background: #46dbb7;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 12px;
  border: 0; }
.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #14192c !important;
  color: #999999; }
.single-footer-widget ::selection {
  background-color: #14192c !important;
  color: #999999; }
.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999999;
  font-weight: 300; }
.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
  font-weight: 300; }
.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999;
  font-weight: 300; }
@media (max-width: 991.98px) {
  .single-footer-widget {
    margin-bottom: 30px; }
    .single-footer-widget:last-child {
      margin-bottom: 0; } }

@media (max-width: 800px) {
  .social-widget {
    margin-top: 30px; } }
.footer-text {
  padding-top: 20px;
  margin-bottom: 0; }
  .footer-text a,
  .footer-text i {
    color: #46dbb7; }
    .footer-text a:hover,
    .footer-text i:hover {
      color: #007AFF; }

/*# sourceMappingURL=main.css.map */
