@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&amp;subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=cyrillic);
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding: 0px;
  margin: 0px; }

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus {
    text-decoration: none;
    color: inherit; }

/**
 * Basic typography style for copy text
 */
body {
  color: #444444;
  font-family: "Ubuntu", sans-serif; }

/**

  КЛАССЫ ДОБАВЛЯЕМЫЕ ПО JS

*/
.scale_full {
  -webkit-transform: translate(-50%, -50%) scale(1) !important;
  -moz-transform: translate(-50%, -50%) scale(1) !important;
  -ms-transform: translate(-50%, -50%) scale(1) !important;
  -o-transform: translate(-50%, -50%) scale(1) !important;
  transform: translate(-50%, -50%) scale(1) !important; }

.overlay__active {
  opacity: 1 !important; }
  .overlay__active .mark_choice {
    -webkit-transform: translate(-50%, -50%) scale(1) !important;
    -moz-transform: translate(-50%, -50%) scale(1) !important;
    -ms-transform: translate(-50%, -50%) scale(1) !important;
    -o-transform: translate(-50%, -50%) scale(1) !important;
    transform: translate(-50%, -50%) scale(1) !important; }

.block__test {
  width: 100%;
  margin: 50px auto 100px auto;
  position: relative;}
  .block__test .block__test_sub {
    width: 90%;
    margin: 20px auto; }
  .block__test .block__test_sub_1 {
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0px;
    color: #a8a8a8; }
    .block__test .block__test_sub_1 svg {
      width: 30px;
      height: 30px;
      fill: #3998F5;
      margin: -10px; }
    .block__test .block__test_sub_1 span {
      padding-left: 10px; }
  .block__test .block__test_sub_2 {
    text-align: center; }
  .block__test .block__test_sub_3 .block__test_sub_3_ready {
    margin: 10px 0px;
    color: #c2c2c2;
    font-size: .9em; }
    .block__test .block__test_sub_3 .block__test_sub_3_ready span {
      font-size: 1.3em;
      color: #3998F5;
      font-weight: bold; }
  .block__test .block__test_sub_3 .block__test_sub_3_scale {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 10px;
    background-color: #dbdbdb;
    -webkit-box-shadow: inset 0 -10px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -10px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -10px 1px rgba(255, 255, 255, 0.3);
    position: relative; }
    .block__test .block__test_sub_3 .block__test_sub_3_scale span {
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 0%;
      height: 100%;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      -moz-transition: all .4s;
      transition: all .4s;
      background: #3998F5;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      border-top-left-radius: 5px; }
  .block__test .block__test_sub_4 {
    overflow-x: hidden;
    position: relative;
    /*min-height: 450px;
	padding-top:20px;*/


	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	transition: all 0.3s ease-in-out;

	}
	.block__test .block__test_sub_4::-webkit-scrollbar {
	  height: 10px;
	  background-color: #F5F5F5;
	}
	.block__test .block__test_sub_4::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
	  border-radius: 10px;
	  background-color: #F5F5F5;
	}
	.block__test .block__test_sub_4::-webkit-scrollbar-thumb {
	  border-radius: 10px;
	  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
	  background-color: #3577B8;
	}
    .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_slider {
      position: absolute;
      top: -100000px;
      width: 40px;
      height: 40px;
      z-index: 10;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.2);
      -moz-box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.2);
      box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.2);
      background-color: #fff;
      text-align: center;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer; }
      .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_slider svg {
        vertical-align: middle;
        fill: #3998F5; }
    .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_slider_prev {
      left: 20px;
      display: none; }
    .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_slider_next {
      right: 20px; }
    .block__test .block__test_sub_4 .multichoice {
      padding: 5px 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      max-width: 275px;
      font-size: .8em;
      background: #3998F5;
      color: white;
      -webkit-box-shadow: 1px 1px 5px #646464;
      -moz-box-shadow: 1px 1px 5px #646464;
      box-shadow: 1px 1px 5px #646464; }
    .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      justify-content: flex-start;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      align-items: center;
      -webkit-transition: all .5s linear;
      -o-transition: all .5s linear;
      -moz-transition: all .5s linear;
      transition: all .5s linear; }
      .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img {
        margin: 10px 5px;
		border:1px solid #ddd;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        -moz-transition: .3s all;
        transition: .3s all;
        -webkit-box-shadow: 2px 1.9px 9px 0 rgba(57,152,245, 0.2);
        -moz-box-shadow: 2px 1.9px 9px 0 rgba(57,152,245, 0.2);
        box-shadow: 2px 1.9px 9px 0 rgba(57,152,245, 0.2);
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative; }
        .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img:hover, .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img:focus {
          -webkit-box-shadow: 10px 10px 20px 0 rgba(57,152,245, 0.222);
        -moz-box-shadow: 10px 10px 20px 0 rgba(57,152,245, 0.222);
        box-shadow: 10px 10px 20px 0 rgba(57,152,245, 0.222);}
        .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label {
          cursor: pointer;
          position: relative;
          z-index: 1;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
          background-color: white;
          margin: 0px; }
          .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label img {
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
			height:240px;
			width: 277px;}
          .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label input[type=radio],
          .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label input[type=checkbox] {
            position: absolute;
            top: 10px;
            left: 10px;
            visibility: hidden;
            opacity: 0;
            z-index: 2; }
          .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label .overlay {
            position: absolute;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.111);
            width: 100%;
            height: 80%;
            top: 0px;
            left: 0px;
            opacity: 0;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px; }
            .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label .overlay .mark_choice {
              position: absolute;
              z-index: 3;
              display: block;
              background-color: #3998F5;
              -webkit-box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.8);
              -moz-box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.8);
              box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.8);
              width: 50px;
              height: 50px;
              top: 50%;
              left: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              -webkit-transform: translate(-50%, -50%) scale(0);
              -moz-transform: translate(-50%, -50%) scale(0);
              -ms-transform: translate(-50%, -50%) scale(0);
              -o-transform: translate(-50%, -50%) scale(0);
              transform: translate(-50%, -50%) scale(0);
              -webkit-transition: .3s all;
              -o-transition: .3s all;
              -moz-transition: .3s all;
              transition: .3s all; }
              .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label .overlay .mark_choice svg {
                margin: 5px;
                fill: white; }
          .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label div:not(.short__hint) {
            padding: 20px 0px 20px 5px;
            color: #222;
            font-size: 14px; }
          .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label:focus .overlay, .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img label:hover .overlay {
            opacity: 1; }
        .block__test .block__test_sub_4 .data-slider__block .block__test_sub_4_move .block__test_sub_4_move_img input[type='text'] {
          position: relative;
          margin-top: 5px;
          display: none; }
    .block__test .block__test_sub_4 .data-insert__block, .block__test .block__test_sub_4 .data-num__block {
      min-height: 150px; }
      .block__test .block__test_sub_4 .data-insert__block form {
        min-width: 250px;
		max-width: 100%;
		margin: 0 auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-box;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        justify-content: center;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        align-items: center; }
    .block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      align-items: center; }
      .block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options label {
        display: inline-block;
        width: 300px;
        min-height: 50px;
        border: 1px solid #dbdbdb;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin: 20px 10px;
        -webkit-box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.2);
        -moz-box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.2);
        box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.2);
        cursor: pointer;
        text-align: left;
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-box;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        align-items: center; }
		.block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options label:hover {
			background: #f5f5f5;
		}
        .block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options label input[type=radio],
        .block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options label input[type=checkbox] {
          opacity: none;
          visibility: hidden; }
        .block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options label div:not(.short__hint) {
          width: 25px;
          height: 25px;
          background-color: #dbdbdb;
          z-index: 1;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: relative; }
          .block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options label div:not(.short__hint) .mark_choice {
            position: absolute;
            top: 13px;
            left: 13px;
            background-color: #3998F5;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            -webkit-transition: .3s all;
            -o-transition: .3s all;
            -moz-transition: .3s all;
            transition: .3s all;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: 15px;
            height: 15px; }
          .block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options label div:not(.short__hint) .mark_choice_check {
            position: absolute;
            top: -5px;
            left: 8px;
            color: #3998F5;
            font-size: 30px;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            -webkit-transition: .3s all;
            -o-transition: .3s all;
            -moz-transition: .3s all;
            transition: .3s all;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: 15px;
            height: 15px; }
        .block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options label .square__text {
          margin: 10px;
          vertical-align: middle;
          max-width: 80%; }
      @media (max-width: 816px) {
        .block__test .block__test_sub_4 .data-options__block .block__test_sub_4_step_2_options label {
          margin: 10px; } }
    .block__test .block__test_sub_4 .data-pic__block {
      min-height: 150px; }
      .block__test .block__test_sub_4 .data-pic__block .add_file {
        height: 250px;
        width: 250px; }
        .block__test .block__test_sub_4 .data-pic__block .add_file label {
          width: 100%;
          height: 100%;
          display: block;
          padding: 10px 20px;
          border: 1px dashed #3998F5;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          font-size: 16px;
          position: relative;
          cursor: pointer;
		  text-align:center;}
		  .block__test .block__test_sub_4 .data-pic__block .add_file label:hover {
          border: 1px solid #3998F5;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          cursor: pointer; }
          .block__test .block__test_sub_4 .data-pic__block .add_file label #remove_pic {
            position: absolute;
            top: 10px;
            right: 10px; }
        .block__test .block__test_sub_4 .data-pic__block .add_file .custom-file-label::after {
          display: none; }
    .block__test .block__test_sub_4 #send_form_final .block__test_sub_4_step_3_form {
      width: 100%;
      min-height: 150px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      justify-content: center;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      align-items: center; }
      .block__test .block__test_sub_4 #send_form_final .block__test_sub_4_step_3_form form {
        min-width: 320px; }
        .block__test .block__test_sub_4 #send_form_final .block__test_sub_4_step_3_form form .input__block select {
          color: #5c5c5c;
          width: 100%;
          border: 1px solid #dbdbdb;
          height: 50px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          outline: none;
          padding-left: 60px; }
        .block__test .block__test_sub_4 #send_form_final .block__test_sub_4_step_3_form form .input__block button {
          background-color: #3998F5;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          width: 100%;
          padding: 10px 0px;
          cursor: pointer;
          -webkit-box-shadow: 0 6px 21px 0 #2B73BA;
          -moz-box-shadow: 0 6px 21px 0 #2B73BA;
          box-shadow: 0 6px 21px 0 #2B73BA;
          color: #fff;
          width: 100%; }
      @media (max-width: 816px) {
        .block__test .block__test_sub_4 #send_form_final .block__test_sub_4_step_3_form form {
          min-width: 250px; } }
    .block__test .block__test_sub_4 .data-date__block {
      min-height: 150px; }
      .block__test .block__test_sub_4 .data-date__block form {
        width: 320px;
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-box;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        justify-content: center;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        align-items: center; }
        .block__test .block__test_sub_4 .data-date__block form i {
          position: absolute;
          left: 10px; }
        .block__test .block__test_sub_4 .data-date__block form input[type=text] {
          padding-left: 40px; }
    .block__test .block__test_sub_4 .block__test_sub_step:not(:first-of-type) {
      display: none; }
  .block__test .block__test_sub_5 .block__test_sub_5_btn:first-of-type {
    float: left; }
    .block__test .block__test_sub_5 .block__test_sub_5_btn:first-of-type a {
      color: #8f8f8f; }
      .block__test .block__test_sub_5 .block__test_sub_5_btn:first-of-type a svg {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        fill: #8f8f8f; }
  .block__test .block__test_sub_5 .block__test_sub_5_btn:last-of-type {
    float: right; }

@media (max-width: 816px) {
  .block__test {
    width: 100%; } }

form textarea {
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  width: 100%;
  padding: 20px; }

form .input__block {
  margin: 20px auto;
  position: relative;
  padding: 0px;
  width: 100%;}
  form .input__block input {
    border: 1px solid #dbdbdb;
    height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding-left: 45px;
    padding-top: 5px;
    width: 100%; }
  form .input__block .input__icon {
    fill: #5c5c5c;
    width: 24px;
    position: absolute;
    top: 16px;
    left: 12px; }

form .error-validation {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 135, 135, 0.5) !important;
  -moz-box-shadow: 0px 0px 1px 1px rgba(255, 135, 135, 0.5) !important;
  box-shadow: 0px 0px 1px 1px rgba(255, 135, 135, 0.5) !important;
  border: 1px solid #ff8787 !important;
  outline: none; }

form .error-validation ~ svg {
  fill: #ff8787 !important; }

form .success-validation {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(91, 209, 96, 0.5) !important;
  -moz-box-shadow: 0px 0px 1px 1px rgba(91, 209, 96, 0.5) !important;
  box-shadow: 0px 0px 1px 1px rgba(91, 209, 96, 0.5) !important;
  border: 1px solid #5bd160 !important;
  outline: none; }

form .success-validation ~ svg {
  fill: #5bd160 !important; }

form .error-text {
  color: #ff8787;
  font-size: .8em;
  padding-top: 5px; }

@media (max-width: 816px) {
  form textarea {
    width: 90%; } }

.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  -webkit-box-shadow: 0 6px 21px 0;
  -moz-box-shadow: 0 6px 21px 0;
  box-shadow: 0 6px 21px 0;
  border: none;
  outline: none;
  cursor: pointer; }

.button > * {
  vertical-align: middle; }

.button svg {
  padding: 0px 2px;
  margin: 0px 10px 0px 0px;
  width: 20px; }

.button-prev {
  -webkit-box-shadow: 0 6px 21px 0 rgba(150, 150, 150, 0.9);
  -moz-box-shadow: 0 6px 21px 0 rgba(150, 150, 150, 0.9);
  box-shadow: 0 6px 21px 0 rgba(150, 150, 150, 0.9);
  background: #fff !important;
  font-size: 18px;  }

.button-next {
  color: #fff !important;
  -webkit-box-shadow: 0 6px 21px 0 #3998F5;
  -moz-box-shadow: 0 6px 21px 0 #3998F5;
  box-shadow: 0 6px 21px 0 #3998F5;
  font-size: 18px;}

.button.not-active {
  cursor: not-allowed; }

.button.active {
  cursor: pointer; }

.button-next.not-active {
  background-color: #2B73BA; }

.button-next.active {
  background-color: #3998F5; }

.button-next:hover {
  color: #fff !important; }

.highlight .button-next:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 10px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-animation: highlight .5s forwards;
  -moz-animation: highlight .5s forwards;
  -o-animation: highlight .5s forwards;
  animation: highlight .5s forwards; }

@-webkit-keyframes highlight {
  from {
    left: -80px; }
  to {
    left: 150px; } }

@-moz-keyframes highlight {
  from {
    left: -80px; }
  to {
    left: 150px; } }

@-o-keyframes highlight {
  from {
    left: -80px; }
  to {
    left: 150px; } }

@keyframes highlight {
  from {
    left: -80px; }
  to {
    left: 150px; } }

/**

  BUTTONS-HOVER

*/
.btn-hover {
  width: 100%;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  -webkit-background-size: 300% 100%;
  -moz-background-size: 300% 100%;
  -o-background-size: 300% 100%;
  background-size: 300% 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-gradient(linear, left top, right top, from(#eb3941), color-stop(#f15e64), color-stop(#e14e53), to(#e2373f));
  background-image: -webkit-linear-gradient(left, #eb3941, #f15e64, #e14e53, #e2373f);
  background-image: -moz-linear-gradient(left, #eb3941, #f15e64, #e14e53, #e2373f);
  background-image: -o-linear-gradient(left, #eb3941, #f15e64, #e14e53, #e2373f);
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  -webkit-box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  -moz-box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.2);
  -moz-box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.2);
  box-shadow: 0px 2px 15px 0px rgba(77, 77, 77, 0.2); }

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

[data-quantity] {
  position: relative;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  padding: 0;
  display: flex;
  margin: 0 auto;
  border: 0; }

[data-quantity] legend {
  display: none; }

[data-quantity] input {
  font-size: 18px;
  height: 4rem;
  padding: 0 4rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  border: 0;
  background: #fff;
  color: #222;
  -webkit-box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: lighter; }

[data-quantity] input:focus {
  outline: none;
  -webkit-box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff;
  -moz-box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff;
  box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff;
  /* Allows border radius on focus */ }

[data-quantity] input[type=number]::-webkit-inner-spin-button,
[data-quantity] input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

[data-quantity] input[type=number] {
  -moz-appearance: textfield; }

[data-quantity] button {
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  top: 0.6rem;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><path d="M17 25h16M67 25h16M75 17v16" fill="none" stroke="rgb(59,69,66)" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" /></svg>') no-repeat 0 0;
  -webkit-background-size: 5.6rem 2.8rem;
  -moz-background-size: 5.6rem 2.8rem;
  -o-background-size: 5.6rem 2.8rem;
  background-size: 5.6rem 2.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  border-radius: 1.4rem;
  cursor: pointer;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  transition: opacity 0.15s;
  opacity: 0.5; }

[data-quantity] button:active {
  background-position-y: 1px;
  -webkit-box-shadow: inset 0 2px 12px -4px #c5d1d9;
  -moz-box-shadow: inset 0 2px 12px -4px #c5d1d9;
  box-shadow: inset 0 2px 12px -4px #c5d1d9; }

[data-quantity] button:focus {
  outline: none; }

[data-quantity] button:hover {
  opacity: 1; }

[data-quantity] button.sub {
  left: 0.6rem; }

[data-quantity] button.add {
  right: 0.6rem;
  background-position-x: -2.8rem; }

.dz-default {
  width: 300px;
  height: 100px;
  border: 1px solid lightgray;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center; }

.dz-details {
  display: none; }

.dz-image {
  text-align: center;
  margin-top: 10px; }
  .dz-image img {
    width: 150px; }

.dz-success-mark {
  -webkit-transform: translate(140px, -100px);
  -moz-transform: translate(140px, -100px);
  -ms-transform: translate(140px, -100px);
  -o-transform: translate(140px, -100px);
  transform: translate(140px, -100px); }

.dz-success-mark,
.dz-error-mark {
  display: none; }

.customDatepicker-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08); }

.customDatepicker-calendar.open,
.customDatepicker-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible; }

.customDatepicker-calendar.open {
  display: inline-block;
  z-index: 99999; }

.customDatepicker-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08); }

.customDatepicker-calendar.open,
.customDatepicker-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible; }

.customDatepicker-calendar.open {
  display: inline-block;
  z-index: 99999; }

.customDatepicker-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.customDatepicker-calendar.inline {
  display: block;
  position: relative;
  top: 2px; }

.customDatepicker-calendar.static {
  position: absolute;
  top: -webkit-calc(100% + 2px);
  top: -moz-calc(100% + 2px);
  top: calc(100% + 2px); }

.customDatepicker-calendar.static.open {
  z-index: 999;
  display: block; }

.customDatepicker-calendar.multiMonth .customDatepicker-days .dayContainer:nth-child(n+1) .customDatepicker-day.inRange:nth-child(7n+7) {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.customDatepicker-calendar.multiMonth .customDatepicker-days .dayContainer:nth-child(n+2) .customDatepicker-day.inRange:nth-child(7n+1) {
  -webkit-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
  -moz-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
  box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6; }

.customDatepicker-calendar .hasWeeks .dayContainer,
.customDatepicker-calendar .hasTime .dayContainer {
  border-bottom: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0; }

.customDatepicker-calendar .hasWeeks .dayContainer {
  border-left: 0; }

.customDatepicker-calendar.showTimeInput.hasTime .customDatepicker-time {
  height: 40px;
  border-top: 1px solid #eceef1; }

.customDatepicker-calendar.showTimeInput.hasTime .customDatepicker-innerContainer {
  border-bottom: 0; }

.customDatepicker-calendar.showTimeInput.hasTime .customDatepicker-time {
  border: 1px solid #eceef1; }

.customDatepicker-calendar.noCalendar.hasTime .customDatepicker-time {
  height: auto; }

.customDatepicker-calendar:before,
.customDatepicker-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px; }

.customDatepicker-calendar.rightMost:before,
.customDatepicker-calendar.rightMost:after {
  left: auto;
  right: 22px; }

.customDatepicker-calendar:before {
  border-width: 5px;
  margin: 0 -5px; }

.customDatepicker-calendar:after {
  border-width: 4px;
  margin: 0 -4px; }

.customDatepicker-calendar.arrowTop:before,
.customDatepicker-calendar.arrowTop:after {
  bottom: 100%; }

.customDatepicker-calendar.arrowTop:before {
  border-bottom-color: #eceef1; }

.customDatepicker-calendar.arrowTop:after {
  border-bottom-color: #eceef1; }

.customDatepicker-calendar.arrowBottom:before,
.customDatepicker-calendar.arrowBottom:after {
  top: 100%; }

.customDatepicker-calendar.arrowBottom:before {
  border-top-color: #eceef1; }

.customDatepicker-calendar.arrowBottom:after {
  border-top-color: #eceef1; }

.customDatepicker-calendar:focus {
  outline: 0; }

.customDatepicker-wrapper {
  position: relative;
  display: inline-block; }

.customDatepicker-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex; }

.customDatepicker-months .customDatepicker-month {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #eceef1;
  color: #5a6171;
  fill: #5a6171;
  height: 28px;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1; }

.customDatepicker-months .customDatepicker-prev-month,
.customDatepicker-months .customDatepicker-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  line-height: 16px;
  height: 28px;
  padding: 10px;
  z-index: 3;
  color: #5a6171;
  fill: #5a6171; }

.customDatepicker-months .customDatepicker-prev-month.disabled,
.customDatepicker-months .customDatepicker-next-month.disabled {
  display: none; }

.customDatepicker-months .customDatepicker-prev-month i,
.customDatepicker-months .customDatepicker-next-month i {
  position: relative; }

.customDatepicker-months .customDatepicker-prev-month.customDatepicker-prev-month,
.customDatepicker-months .customDatepicker-next-month.customDatepicker-prev-month {
  /*
      /*rtl:begin:ignore*/
  /*
      */
  left: 0;
  /*
      /*rtl:end:ignore*/
  /*
      */ }

/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.customDatepicker-months .customDatepicker-prev-month.customDatepicker-next-month,
.customDatepicker-months .customDatepicker-next-month.customDatepicker-next-month {
  /*
      /*rtl:begin:ignore*/
  /*
      */
  right: 0;
  /*
      /*rtl:end:ignore*/
  /*
      */ }

/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.customDatepicker-months .customDatepicker-prev-month:hover,
.customDatepicker-months .customDatepicker-next-month:hover {
  color: #bbb; }

.customDatepicker-months .customDatepicker-prev-month:hover svg,
.customDatepicker-months .customDatepicker-next-month:hover svg {
  fill: #f64747; }

.customDatepicker-months .customDatepicker-prev-month svg,
.customDatepicker-months .customDatepicker-next-month svg {
  width: 14px;
  height: 14px; }

.customDatepicker-months .customDatepicker-prev-month svg path,
.customDatepicker-months .customDatepicker-next-month svg path {
  -webkit-transition: fill 0.1s;
  -o-transition: fill 0.1s;
  -moz-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit; }

.numInputWrapper {
  position: relative;
  height: auto; }

.numInputWrapper input,
.numInputWrapper span {
  display: inline-block; }

.numInputWrapper input {
  width: 100%; }

.numInputWrapper input::-ms-clear {
  display: none; }

.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(72, 72, 72, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.numInputWrapper span:hover {
  background: rgba(0, 0, 0, 0.1); }

.numInputWrapper span:active {
  background: rgba(0, 0, 0, 0.2); }

.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute; }

.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0; }

.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(72, 72, 72, 0.6);
  top: 26%; }

.numInputWrapper span.arrowDown {
  top: 50%; }

.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(72, 72, 72, 0.6);
  top: 40%; }

.numInputWrapper span svg {
  width: inherit;
  height: auto; }

.numInputWrapper span svg path {
  fill: rgba(90, 97, 113, 0.5); }

.numInputWrapper:hover {
  background: rgba(0, 0, 0, 0.05); }

.numInputWrapper:hover span {
  opacity: 1; }

.customDatepicker-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 6.16px 0 0 0;
  line-height: 1;
  height: 28px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.customDatepicker-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: 0.5ch;
  padding: 0; }

.customDatepicker-current-month span.cur-month:hover {
  background: rgba(0, 0, 0, 0.05); }

.customDatepicker-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block; }

.customDatepicker-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: #5a6171; }

.customDatepicker-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: #5a6171; }

.customDatepicker-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 0 0 0.5ch;
  margin: 0;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: auto;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  vertical-align: initial; }

.customDatepicker-current-month input.cur-year:focus {
  outline: 0; }

.customDatepicker-current-month input.cur-year[disabled],
.customDatepicker-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(90, 97, 113, 0.5);
  background: transparent;
  pointer-events: none; }

.customDatepicker-weekdays {
  background: #eceef1;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  height: 28px; }

.customDatepicker-weekdays .customDatepicker-weekdaycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1; }

span.customDatepicker-weekday {
  cursor: default;
  font-size: 90%;
  background: #eceef1;
  color: #5a6171;
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  font-weight: bolder; }

.dayContainer,
.customDatepicker-weeks {
  padding: 1px 0 0 0; }

.customDatepicker-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -moz-box-align: start;
  align-items: flex-start;
  width: 307.875px;
  border-left: 1px solid #eceef1;
  border-right: 1px solid #eceef1; }

.customDatepicker-days:focus {
  outline: 0; }

.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1; }

.dayContainer + .dayContainer {
  -webkit-box-shadow: -1px 0 0 #eceef1;
  -moz-box-shadow: -1px 0 0 #eceef1;
  box-shadow: -1px 0 0 #eceef1; }

.customDatepicker-day {
  background: none;
  border: 1px solid transparent;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #484848;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  text-align: center; }

.customDatepicker-day.inRange,
.customDatepicker-day.prevMonthDay.inRange,
.customDatepicker-day.nextMonthDay.inRange,
.customDatepicker-day.today.inRange,
.customDatepicker-day.prevMonthDay.today.inRange,
.customDatepicker-day.nextMonthDay.today.inRange,
.customDatepicker-day:hover,
.customDatepicker-day.prevMonthDay:hover,
.customDatepicker-day.nextMonthDay:hover,
.customDatepicker-day:focus,
.customDatepicker-day.prevMonthDay:focus,
.customDatepicker-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e2e2e2;
  border-color: #e2e2e2; }

.customDatepicker-day.today {
  border-color: #bbb; }

.customDatepicker-day.today:hover,
.customDatepicker-day.today:focus {
  border-color: #bbb;
  background: #bbb;
  color: #fff; }

.customDatepicker-day.selected,
.customDatepicker-day.startRange,
.customDatepicker-day.endRange,
.customDatepicker-day.selected.inRange,
.customDatepicker-day.startRange.inRange,
.customDatepicker-day.endRange.inRange,
.customDatepicker-day.selected:focus,
.customDatepicker-day.startRange:focus,
.customDatepicker-day.endRange:focus,
.customDatepicker-day.selected:hover,
.customDatepicker-day.startRange:hover,
.customDatepicker-day.endRange:hover,
.customDatepicker-day.selected.prevMonthDay,
.customDatepicker-day.startRange.prevMonthDay,
.customDatepicker-day.endRange.prevMonthDay,
.customDatepicker-day.selected.nextMonthDay,
.customDatepicker-day.startRange.nextMonthDay,
.customDatepicker-day.endRange.nextMonthDay {
  background: #ff5a5f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: #ff5a5f; }

.customDatepicker-day.selected.startRange,
.customDatepicker-day.startRange.startRange,
.customDatepicker-day.endRange.startRange {
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px; }

.customDatepicker-day.selected.endRange,
.customDatepicker-day.startRange.endRange,
.customDatepicker-day.endRange.endRange {
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0; }

.customDatepicker-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.customDatepicker-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.customDatepicker-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #ff5a5f;
  -moz-box-shadow: -10px 0 0 #ff5a5f;
  box-shadow: -10px 0 0 #ff5a5f; }

.customDatepicker-day.selected.startRange.endRange,
.customDatepicker-day.startRange.startRange.endRange,
.customDatepicker-day.endRange.startRange.endRange {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.customDatepicker-day.inRange {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #e2e2e2, 5px 0 0 #e2e2e2;
  -moz-box-shadow: -5px 0 0 #e2e2e2, 5px 0 0 #e2e2e2;
  box-shadow: -5px 0 0 #e2e2e2, 5px 0 0 #e2e2e2; }

.customDatepicker-day.disabled,
.customDatepicker-day.disabled:hover,
.customDatepicker-day.prevMonthDay,
.customDatepicker-day.nextMonthDay,
.customDatepicker-day.notAllowed,
.customDatepicker-day.notAllowed.prevMonthDay,
.customDatepicker-day.notAllowed.nextMonthDay {
  color: rgba(72, 72, 72, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

.customDatepicker-day.disabled,
.customDatepicker-day.disabled:hover {
  cursor: not-allowed;
  color: rgba(72, 72, 72, 0.1); }

.customDatepicker-day.week.selected {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #ff5a5f, 5px 0 0 #ff5a5f;
  -moz-box-shadow: -5px 0 0 #ff5a5f, 5px 0 0 #ff5a5f;
  box-shadow: -5px 0 0 #ff5a5f, 5px 0 0 #ff5a5f; }

.customDatepicker-day.hidden {
  visibility: hidden; }

.rangeMode .customDatepicker-day {
  margin-top: 1px; }

.customDatepicker-weekwrapper {
  display: inline-block;
  float: left; }

.customDatepicker-weekwrapper .customDatepicker-weeks {
  padding: 0 12px;
  border-left: 1px solid #eceef1; }

.customDatepicker-weekwrapper .customDatepicker-weekday {
  float: none;
  width: 100%;
  line-height: 28px; }

.customDatepicker-weekwrapper span.customDatepicker-day,
.customDatepicker-weekwrapper span.customDatepicker-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: rgba(72, 72, 72, 0.3);
  background: transparent;
  cursor: default;
  border: none; }

.customDatepicker-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #eceef1; }

.customDatepicker-rContainer {
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.customDatepicker-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  background: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }

.customDatepicker-time:after {
  content: "";
  display: table;
  clear: both; }

.customDatepicker-time .numInputWrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  width: 40%;
  height: 40px;
  float: left; }

.customDatepicker-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #484848; }

.customDatepicker-time .numInputWrapper span.arrowDown:after {
  border-top-color: #484848; }

.customDatepicker-time.hasSeconds .numInputWrapper {
  width: 26%; }

.customDatepicker-time.time24hr .numInputWrapper {
  width: 49%; }

.customDatepicker-time input {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  color: #484848;
  font-size: 14px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.customDatepicker-time input.customDatepicker-hour {
  font-weight: bold; }

.customDatepicker-time input.customDatepicker-minute,
.customDatepicker-time input.customDatepicker-second {
  font-weight: 400; }

.customDatepicker-time input:focus {
  outline: 0;
  border: 0; }

.customDatepicker-time .customDatepicker-time-separator,
.customDatepicker-time .customDatepicker-am-pm {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: #484848;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.customDatepicker-time .customDatepicker-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400; }

.customDatepicker-time input:hover,
.customDatepicker-time .customDatepicker-am-pm:hover,
.customDatepicker-time input:focus,
.customDatepicker-time .customDatepicker-am-pm:focus {
  background: #efefef; }

.customDatepicker-input[readonly] {
  cursor: pointer; }

@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-moz-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-o-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

span.customDatepicker-day.selected {
  font-weight: bold; }

.customDatepicker-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.customDatepicker-calendar.inline {
  display: block;
  position: relative;
  top: 2px; }

.customDatepicker-calendar.static {
  position: absolute;
  top: -webkit-calc(100% + 2px);
  top: -moz-calc(100% + 2px);
  top: calc(100% + 2px); }

.customDatepicker-calendar.static.open {
  z-index: 999;
  display: block; }

.customDatepicker-calendar.multiMonth .customDatepicker-days .dayContainer:nth-child(n+1) .customDatepicker-day.inRange:nth-child(7n+7) {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.customDatepicker-calendar.multiMonth .customDatepicker-days .dayContainer:nth-child(n+2) .customDatepicker-day.inRange:nth-child(7n+1) {
  -webkit-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
  -moz-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
  box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6; }

.customDatepicker-calendar .hasWeeks .dayContainer,
.customDatepicker-calendar .hasTime .dayContainer {
  border-bottom: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0; }

.customDatepicker-calendar .hasWeeks .dayContainer {
  border-left: 0; }

.customDatepicker-calendar.showTimeInput.hasTime .customDatepicker-time {
  height: 40px;
  border-top: 1px solid #e6e6e6; }

.customDatepicker-calendar.noCalendar.hasTime .customDatepicker-time {
  height: auto; }

.customDatepicker-calendar:before,
.customDatepicker-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px; }

.customDatepicker-calendar.rightMost:before,
.customDatepicker-calendar.rightMost:after {
  left: auto;
  right: 22px; }

.customDatepicker-calendar:before {
  border-width: 5px;
  margin: 0 -5px; }

.customDatepicker-calendar:after {
  border-width: 4px;
  margin: 0 -4px; }

.customDatepicker-calendar.arrowTop:before,
.customDatepicker-calendar.arrowTop:after {
  bottom: 100%; }

.customDatepicker-calendar.arrowTop:before {
  border-bottom-color: #e6e6e6; }

.customDatepicker-calendar.arrowTop:after {
  border-bottom-color: #fff; }

.customDatepicker-calendar.arrowBottom:before,
.customDatepicker-calendar.arrowBottom:after {
  top: 100%; }

.customDatepicker-calendar.arrowBottom:before {
  border-top-color: #e6e6e6; }

.customDatepicker-calendar.arrowBottom:after {
  border-top-color: #fff; }

.customDatepicker-calendar:focus {
  outline: 0; }

.customDatepicker-wrapper {
  position: relative;
  display: inline-block; }

.customDatepicker-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex; }

.customDatepicker-months .customDatepicker-month {
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
  fill: rgba(0, 0, 0, 0.9);
  height: 28px;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1; }

.customDatepicker-months .customDatepicker-prev-month,
.customDatepicker-months .customDatepicker-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  line-height: 16px;
  height: 28px;
  padding: 10px;
  z-index: 3;
  color: rgba(0, 0, 0, 0.9);
  fill: rgba(0, 0, 0, 0.9); }

.customDatepicker-months .customDatepicker-prev-month.disabled,
.customDatepicker-months .customDatepicker-next-month.disabled {
  display: none; }

.customDatepicker-months .customDatepicker-prev-month i,
.customDatepicker-months .customDatepicker-next-month i {
  position: relative; }

.customDatepicker-months .customDatepicker-prev-month.customDatepicker-prev-month,
.customDatepicker-months .customDatepicker-next-month.customDatepicker-prev-month {
  /*
      /*rtl:begin:ignore*/
  /*
      */
  left: 0;
  /*
      /*rtl:end:ignore*/
  /*
      */ }

/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.customDatepicker-months .customDatepicker-prev-month.customDatepicker-next-month,
.customDatepicker-months .customDatepicker-next-month.customDatepicker-next-month {
  /*
      /*rtl:begin:ignore*/
  /*
      */
  right: 0;
  /*
      /*rtl:end:ignore*/
  /*
      */ }

/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.customDatepicker-months .customDatepicker-prev-month:hover,
.customDatepicker-months .customDatepicker-next-month:hover {
  color: #959ea9; }

.customDatepicker-months .customDatepicker-prev-month:hover svg,
.customDatepicker-months .customDatepicker-next-month:hover svg {
  fill: #f64747; }

.customDatepicker-months .customDatepicker-prev-month svg,
.customDatepicker-months .customDatepicker-next-month svg {
  width: 14px;
  height: 14px; }

.customDatepicker-months .customDatepicker-prev-month svg path,
.customDatepicker-months .customDatepicker-next-month svg path {
  -webkit-transition: fill 0.1s;
  -o-transition: fill 0.1s;
  -moz-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit; }

.numInputWrapper {
  position: relative;
  height: auto; }

.numInputWrapper input,
.numInputWrapper span {
  display: inline-block; }

.numInputWrapper input {
  width: 100%; }

.numInputWrapper input::-ms-clear {
  display: none; }

.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(57, 57, 57, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.numInputWrapper span:hover {
  background: rgba(0, 0, 0, 0.1); }

.numInputWrapper span:active {
  background: rgba(0, 0, 0, 0.2); }

.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute; }

.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0; }

.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57, 57, 57, 0.6);
  top: 26%; }

.numInputWrapper span.arrowDown {
  top: 50%; }

.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57, 57, 57, 0.6);
  top: 40%; }

.numInputWrapper span svg {
  width: inherit;
  height: auto; }

.numInputWrapper span svg path {
  fill: rgba(0, 0, 0, 0.5); }

.numInputWrapper:hover {
  background: rgba(0, 0, 0, 0.05); }

.numInputWrapper:hover span {
  opacity: 1; }

.customDatepicker-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 6.16px 0 0 0;
  line-height: 1;
  height: 28px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.customDatepicker-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: 0.5ch;
  padding: 0; }

.customDatepicker-current-month span.cur-month:hover {
  background: rgba(0, 0, 0, 0.05); }

.customDatepicker-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block; }

.customDatepicker-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(0, 0, 0, 0.9); }

.customDatepicker-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(0, 0, 0, 0.9); }

.customDatepicker-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 0 0 0.5ch;
  margin: 0;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: auto;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  vertical-align: initial; }

.customDatepicker-current-month input.cur-year:focus {
  outline: 0; }

.customDatepicker-current-month input.cur-year[disabled],
.customDatepicker-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  pointer-events: none; }

.customDatepicker-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  height: 28px; }

.customDatepicker-weekdays .customDatepicker-weekdaycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1; }

span.customDatepicker-weekday {
  cursor: default;
  font-size: 90%;
  background: transparent;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  font-weight: bolder; }

.dayContainer,
.customDatepicker-weeks {
  padding: 1px 0 0 0; }

.customDatepicker-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -moz-box-align: start;
  align-items: flex-start;
  width: 307.875px; }

.customDatepicker-days:focus {
  outline: 0; }

.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1; }

.dayContainer + .dayContainer {
  -webkit-box-shadow: -1px 0 0 #e6e6e6;
  -moz-box-shadow: -1px 0 0 #e6e6e6;
  box-shadow: -1px 0 0 #e6e6e6; }

.customDatepicker-day {
  background: none;
  border: 1px solid transparent;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #393939;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  text-align: center; }

.customDatepicker-day.inRange,
.customDatepicker-day.prevMonthDay.inRange,
.customDatepicker-day.nextMonthDay.inRange,
.customDatepicker-day.today.inRange,
.customDatepicker-day.prevMonthDay.today.inRange,
.customDatepicker-day.nextMonthDay.today.inRange,
.customDatepicker-day:hover,
.customDatepicker-day.prevMonthDay:hover,
.customDatepicker-day.nextMonthDay:hover,
.customDatepicker-day:focus,
.customDatepicker-day.prevMonthDay:focus,
.customDatepicker-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

.customDatepicker-day.today {
  border-color: #959ea9; }

.customDatepicker-day.today:hover,
.customDatepicker-day.today:focus {
  border-color: #959ea9;
  background: #959ea9;
  color: #fff; }

.customDatepicker-day.selected,
.customDatepicker-day.startRange,
.customDatepicker-day.endRange,
.customDatepicker-day.selected.inRange,
.customDatepicker-day.startRange.inRange,
.customDatepicker-day.endRange.inRange,
.customDatepicker-day.selected:focus,
.customDatepicker-day.startRange:focus,
.customDatepicker-day.endRange:focus,
.customDatepicker-day.selected:hover,
.customDatepicker-day.startRange:hover,
.customDatepicker-day.endRange:hover,
.customDatepicker-day.selected.prevMonthDay,
.customDatepicker-day.startRange.prevMonthDay,
.customDatepicker-day.endRange.prevMonthDay,
.customDatepicker-day.selected.nextMonthDay,
.customDatepicker-day.startRange.nextMonthDay,
.customDatepicker-day.endRange.nextMonthDay {
  background: #569ff7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: #569ff7; }

.customDatepicker-day.selected.startRange,
.customDatepicker-day.startRange.startRange,
.customDatepicker-day.endRange.startRange {
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px; }

.customDatepicker-day.selected.endRange,
.customDatepicker-day.startRange.endRange,
.customDatepicker-day.endRange.endRange {
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0; }

.customDatepicker-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.customDatepicker-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.customDatepicker-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #569ff7;
  -moz-box-shadow: -10px 0 0 #569ff7;
  box-shadow: -10px 0 0 #569ff7; }

.customDatepicker-day.selected.startRange.endRange,
.customDatepicker-day.startRange.startRange.endRange,
.customDatepicker-day.endRange.startRange.endRange {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.customDatepicker-day.inRange {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
  -moz-box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
  box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6; }

.customDatepicker-day.disabled,
.customDatepicker-day.disabled:hover,
.customDatepicker-day.prevMonthDay,
.customDatepicker-day.nextMonthDay,
.customDatepicker-day.notAllowed,
.customDatepicker-day.notAllowed.prevMonthDay,
.customDatepicker-day.notAllowed.nextMonthDay {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

.customDatepicker-day.disabled,
.customDatepicker-day.disabled:hover {
  cursor: not-allowed;
  color: rgba(57, 57, 57, 0.1); }

.customDatepicker-day.week.selected {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
  -moz-box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
  box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7; }

.customDatepicker-day.hidden {
  visibility: hidden; }

.rangeMode .customDatepicker-day {
  margin-top: 1px; }

.customDatepicker-weekwrapper {
  display: inline-block;
  float: left; }

.customDatepicker-weekwrapper .customDatepicker-weeks {
  padding: 0 12px;
  -webkit-box-shadow: 1px 0 0 #e6e6e6;
  -moz-box-shadow: 1px 0 0 #e6e6e6;
  box-shadow: 1px 0 0 #e6e6e6; }

.customDatepicker-weekwrapper .customDatepicker-weekday {
  float: none;
  width: 100%;
  line-height: 28px; }

.customDatepicker-weekwrapper span.customDatepicker-day,
.customDatepicker-weekwrapper span.customDatepicker-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  cursor: default;
  border: none; }

.customDatepicker-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.customDatepicker-rContainer {
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.customDatepicker-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex; }

.customDatepicker-time:after {
  content: "";
  display: table;
  clear: both; }

.customDatepicker-time .numInputWrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  width: 40%;
  height: 40px;
  float: left; }

.customDatepicker-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #393939; }

.customDatepicker-time .numInputWrapper span.arrowDown:after {
  border-top-color: #393939; }

.customDatepicker-time.hasSeconds .numInputWrapper {
  width: 26%; }

.customDatepicker-time.time24hr .numInputWrapper {
  width: 49%; }

.customDatepicker-time input {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  color: #393939;
  font-size: 14px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.customDatepicker-time input.customDatepicker-hour {
  font-weight: bold; }

.customDatepicker-time input.customDatepicker-minute,
.customDatepicker-time input.customDatepicker-second {
  font-weight: 400; }

.customDatepicker-time input:focus {
  outline: 0;
  border: 0; }

.customDatepicker-time .customDatepicker-time-separator,
.customDatepicker-time .customDatepicker-am-pm {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: #393939;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.customDatepicker-time .customDatepicker-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400; }

.customDatepicker-time input:hover,
.customDatepicker-time .customDatepicker-am-pm:hover,
.customDatepicker-time input:focus,
.customDatepicker-time .customDatepicker-am-pm:focus {
  background: #f3f3f3; }

.customDatepicker-input[readonly] {
  cursor: pointer; }

@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/**

  редактирование бутсрапа

*/
.form-control:disabled, .form-control[readonly] {
  background-color: white;
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
