.right {
	float: right;
}

.quiz-images {
	width: 300px;
	height: 300px;
}

.image-label{
	font-size: 28px;
	padding: 10px 0;
}

.images-gallery {
	display: inline-flex;
	width: 100%;
	overflow-x: auto;
}

.hidden {
	display: none;
}

.image-container {
	margin-right: 10px;
	background-color: #dbd8ce;
	text-align: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: relative;
}

.btn-prev-step{
	background-color: grey !important;
}

.images-gallery::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
.images-gallery {
	-ms-overflow-style: none;
}

.selected-background{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0, 0.7);
	z-index: 6000;
	width: 300px;
	height: 300px;
	display: none;
}

.label-span{
	font-size: 20px;
	text-transform: uppercase;
	background-color: rgba(192, 192, 192, 0.7);
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
}