@import "http://fonts.fontstorage.com/import/ptsans.css";

.h1_quiz {
    line-height: 1.2!important;
    font-size: 24px!important;
    font-weight: normal!important;
}

body {
  color: #555;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625em;
  position: relative; 
  cursor:default;}

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0; }

.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

/**
 *  Typography
 *
 **/
.btn i {
  font-size: 1em;
  line-height: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", sans-serif;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px;
  color: #000000; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */


.mr-50 {
  margin-right: 50px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.text-white {
  color: #fff; }

.text-center {
  text-align: center; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.relative {
  position: relative; }
.pad-bot30 {
	padding-bottom:30px;
}
@media (max-width: 991px) {
	.header-left h1 {
		font-size: 22px!important;
		font-weight: normal!important;
	}
	p {
		font-weight:normal!important;
	}
}
.section-gap {
  padding: 50px 0; }
.primary-btn {
  background-color: #007AFF;
  line-height: 47px;
  padding: 0 35px;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative; }
  .primary-btn:focus {
    outline: none; }
  .primary-btn:hover {
    color: #007AFF;
    background-color: transparent;
    border-color: #007AFF; }
  .primary-btn.white {
    border: 1px solid #fff;
    color: #000000;
    background: #fff; }
    .primary-btn.white:hover {
      background: #007AFF;
      color: #fff;
      border: 1px solid #007AFF; }
  .primary-btn.offwhite {
    background: #f9f9ff;
    color: #000000;}

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header2 {
  padding: 0 15px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; }

.header-left {
  padding-left: 9%;
  padding-right: 48px; }
  @media (max-width: 1440px) {
    .header-left {
      padding-left: 11%; } }
  @media (max-width: 1300px) {
    .header-left {
      padding-left: 5%; } }
  @media (max-width: 767px) {
    .header-left {
      margin-bottom: 10px; } }
  .header-left h1 {
    line-height: 1.2; font-size: 25px; font-weight: normal; }
    @media (max-width: 991px) {
      .header-left h1 {
       font-size: 20px;
       font-weight: normal; } 
		
}


.footer-area {
  background-color: #04091e; }

h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600; }
  @media (max-width: 991px) {
    h6 {
      margin-bottom: 15px; } }

.footer-social a {
  padding-right: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .footer-social a:hover i {
    color: #46dbb7; }
.footer-social i {
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
@media (max-width: 991.98px) {
  .footer-social {
    text-align: left; } }

.single-footer-widget input {
  border: none;
  width: 80% !important;
  font-weight: 300;
  background: #14192c;
  color: #ffffff !important;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 18px; }
  .single-footer-widget input:focus {
    background-color: #14192c;
    box-shadow: none; }
.single-footer-widget .info {
  position: absolute;
  margin-top: 10%;
  color: #fff;
  font-size: 12px; }
.single-footer-widget .click-btn {
  background: #46dbb7;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 12px;
  border: 0; }
.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #14192c !important;
  color: #999999; }
.single-footer-widget ::selection {
  background-color: #14192c !important;
  color: #999999; }
.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999999;
  font-weight: 300; }
.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
  font-weight: 300; }
.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999;
  font-weight: 300; }
@media (max-width: 991.98px) {
  .single-footer-widget {
    margin-bottom: 30px; }
    .single-footer-widget:last-child {
      margin-bottom: 0; } }

@media (max-width: 800px) {
  .social-widget {
    margin-top: 30px; } }
.footer-text {
  padding-top: 20px;
  margin-bottom: 0; }
  .footer-text a,
  .footer-text i {
    color: #46dbb7; }
    .footer-text a:hover,
    .footer-text i:hover {
      color: #007AFF; }

.comps {
	
}
.single-comp {
	border-radius:10px;
	background:#f9f9f9;
	padding:10px;
}
.single-comp img {
	max-width:180px;
	display:table;
	margin:0 auto 15px;
}

























































































